#body {
    background-color: #6acbff;
}

header {
    text-align: center;
    font-size: 20px;
    padding-top: 20px;
}

.tabMenu {
    margin-left: 10%;
    padding-top: 15px;
}

h1 { 
font-size: 20px;

}
img {
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

ul.nav-pills { 
width: 400px;
text-align: center;
}

#userlist {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 400px;
    height: 600px;
    background-color: gray;
    border-radius: 3px;
    text-align: center;
}

#sampleList {
    float: left;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin-left: 10%;
    width: 250px;
    height: 250px;
    background-color: #b7b7b7;
    border-radius: 3px;
    text-align: center;
}

.form-control {
    width: 50%;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn {
    float: right;
    margin-top: -43px;
    margin-right: 40px;
}


li {
    margin: 5px;
    background-color: lightblue;
    border-radius: 3px;
    width: 100px;
    text-align: center;
}

.fa.fa-check {
    color: limegreen;
}

.fa.fa-exclamation {
    color: red;
}