<html ng-app="twitchApp">

<!DOCTYPE HTML>

<head>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,700,600,800,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="main.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>

<body id="body">
    <header> 
    TwitchTv Favorite Users List 
    </header>
    <div id="sampleList">
    <h1>Username Examples:</h1>
    <ul>
    <li>medrybw</li>
    <li>freecodecamp</li>
    <li>robotcaleb</li>
    <li>geoffstorbeck</li>
    </ul>
    </div>
    
    <div id="userlist">
        <div class="tabMenu">
            <ul class="nav nav-pills">
                <li> <a href ng-click="filterStatus = users.showAll()">All</a></li>
                <li> <a href ng-click="filterStatus = {status:'fa fa-check'}">Online</a></li>
                <li> <a href ng-click="filterStatus = {status:'fa fa-exclamation'}">Offline</a></li>
            </ul>
        </div>
        <div ng-controller="UserCtrl as users">
            <form ng-submit="users.getUser()">
                <input type="text" class="form-control" ng-model="users.newUser" placeholder="type name here">
                <input class="btn btn-primary" type="submit" value="Add User">
            </form>
            <input type="text" class="form-control" placeholder="search list" ng-model="search.name">
            <table class="table table-striped">
                <tbody>
                    <tr ng-repeat="data in users.userData | filter:search.name | filter:filterStatus">
                        <td><img src="{{data.logo}}"></td>
                        <td><a target="_blank" href="{{data.url}}">{{data.name}}</a></td>
                        <td>{{data.game}}</td>
                        <td><i class="{{data.status}}"></i></td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
    <script src="app.js"></script>
</body>

</html>